* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }


main {
    display:flex;
}

.nav

.list {
    justify-content:Flex End;
        }





















.footer {
    justify-content:right;
    text-align: inline;
    padding: 30px;
    background-color: rgb(80, 105, 87);
    color: white;
}



