* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Nav styling starts here */
header {
    border-style: solid;
    border-width: 1px;

}

 nav {
    display: flex;
    padding: 10px;   
    justify-content: center;
    margin-top: 5%;    
}

/* work section styling */

.work-image {
    width:50%;
}