* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Nav styling starts here */
header {
    border-style: solid;
    border-width: 1px;
    display: flex;
    /* flex-wrap: wrap; */
    padding:2em;
    justify-content:space-between;
    align-items: center;
    margin: 15px 30px 15px;
}
h1 {
    padding: 0 1em 0 1em;
    display: inline-block;
}
 nav {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}    

header ul{
  list-style-type: none;
}

header ul li {
    display:inline;
    padding:5px;
    margin: 0 0 0 12px;
}
  
header nav ul li a{
    text-decoration:none;
    color:black;
}
header nav ul li a:hover{
    color:rgb(159, 161, 228);
}

main {
    margin:0px 30px;
}

.ribbon {
    width:100%;
}

.banner-image {
    width:100%;
    max-height: 200px;

}
.sectionAbout {
    margin: 12px 0 0 0;
    }

/* work section styling */

.work-image {
    width:20%;
}

/* card styling */
.cardLarge {
    grid-column: 1 / span 2;

}

.sectionWork {
    margin:12px 0px;

}

.divWrap {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
/* <!-- FOOTER styling section --> */

footer {
    border-style: solid;
    border-width: 1px;
    display: flex;
    padding:2em;
    justify-content:center;
    align-items: center;
    margin: 15px 30px 15px;
}

footer h2 {
    padding: 0 2em;
    display: inline-block;
}

 footer ul {
    flex-direction: row;
    display:flex;
    justify-content:space-between;
}    

footer ul {
  list-style-type: none;
  /* float: right; */
   }
footer ul li {
    display:inline;
    padding:5px;
    margin: 0 0 0 12px;
}
footer ul li a {
    text-decoration:none;
    color:black;
}
footer ul li a:hover{
    color:rgb(159, 161, 228);
}
